In [ ]:
# BILLING SYSTEM
product1 = input("enter product 1")
product2 = input("enter product 2")
product3 = input("enter product 3")
product4 = input("enter product 4")
product5 = input("enter product 5")
price = int(input("enter product1 price"))
price2 = int(input("enter product2 price"))
price3 = int(input("enter product3 price"))
price4 = int(input("enter product4 price"))
price5 = int(input("enter product5 price"))
total = price + price2 + price3 + price4 + price5
print(total)
print("thank you for shopping")
GST = total * 100 / 16
print(GST)

enter product 1samosa
enter product 2fafda
enter product 3rasmalai
enter product 4jalebi
enter product 5malpua
enter product1 price67
enter product2 price456
enter product3 price980
enter product4 price547
enter product5 price677
2727
thank you for shopping
17043.75

In [ ]:
product1 = input("enter product 1")
product2 = input("enter product 2")
product3 = input("enter product 3")

price = int(input("enter product1 price"))
price2 = int(input("enter product2 price"))
price3 = int(input("enter product3 price"))
total = price + price2 + price3
print(total)
print("thank you for shopping")
GST = total * 100 / 20
print(GST)
selecte_offer = total * 5 /100
print(selecte_offer)

enter product 1book
enter product 2pen
enter product 3mouse
enter product1 price250
enter product2 price650
enter product3 price575
1475
thank you for shopping
7375.0
73.75

In [ ]:
#   HOME LOAN EMI CALCULATOR
Loan_Amount = int(input("enter loan amount"))
time = int(input("enter time"))
rate = int(input("enter rate of intrest"))
monthly_Home_loan_EMI = Loan_Amount * rate * time / 100
print(monthly_Home_loan_EMI)
principal_Amount = Loan_Amount * time
print(principal_Amount)
Interest_amount = monthly_Home_loan_EMI * time
print(Interest_amount)
total_amount = Loan_Amount + Interest_amount
print(total_amount)

enter loan amount7451512
enter time15
enter rate of intrest35
39120438.0
111772680
586806570.0
594258082.0

In [ ]:

 # BILLING STOCK SYSTEM
sku1 = int(input("enter unique number1 :"))
sku2 = int(input("enter unique number2 :"))
sku3 = int(input("enter unique number3 :"))

product_Name = input("enter product name :")
product_Name2 = input("enter product name2 :")
product_Name3 = input("enter product name3 :")

quantity1 = int(input("enter quantity1 :"))
quantity2 = int(input("enter quantity2 :"))
quantity3 = int(input("enter quantity3 :"))

single_piece_price1 = int(input("enter single piece price1 :"))
single_piece_price2 = int(input("enter single piece price2 :"))
single_piece_price3 = int(input("enter single piece price3 :"))

total_amount = quantity1 * single_piece_price1 + quantity2 * single_piece_price2 + quantity3 * single_piece_price3
print(total_amount)

enter unique number1 :12
enter unique number2 :13
enter unique number3 :14
enter product name :books
enter product name2 :keyboard
enter product name3 :mouse
enter quantity1 :3
enter quantity2 :67
enter quantity3 :32
enter single piece price1 :34
enter single piece price2 :76
enter single piece price3 :90
8074