In [3]:
# print()
print("welcomethe home")
print("'code with harry'")
print(' "finishyour work" ')

welcomethe home
'code with harry'
 "finishyour work"

In [2]:
number = 17
print("my number is",number)

name = "ricky"
age = 22
location = "konark"
sal = 235566

print("given name is",name)
print("given age is",age)
print("given location is",location)
print("given sal is",sal)

my number is 17
given name is ricky
given age is 22
given location is konark
given sal is 235566

In [5]:
name = input("enter your name")
sub = input("enter your sub")
mark = input("enter your mark")
grade = input("enter your grade")

print("enter name is",name)
print("enter sub is",sub)
print("enter mark is",mark)
print("enter grade is",grade)

enter your name anish
enter your sub math
enter your mark 98
enter your grade a+

enter name is anish
enter sub is math
enter mark is 98
enter grade is a+

In [9]:
# int
# float
#str()
name = str(input("enter your name"))
salary = int(input("enter your salary"))
height = float(input("enter your height"))

print("enter your name",name)
print("enter your salary",salary)
print("enter your height",height)

enter your name anish
enter your salary 64578568
enter your height 6.2

enter your name anish
enter your salary 64578568
enter your height 6.2

In [10]:
# OPERATOR:-

# ARITHNMATIC OPERATOR
x = 345
y= 54

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(y ** 3)

399
291
18630
6.388888888888889
6
21
157464

In [11]:
# COMPARISION OPERATOR:-

print(54 > 76)
print(23 < 78)
print(23 == 23)
print(65 != 43)
print(56 >= 90)
print(12 <= 20)

False
True
True
True
False
True

In [15]:
# MEMBERSHIP OPERATOR:

data = "had your dinner"
print('y' in data)
print('p' not in data)
print('d' not in data)

True
True
False

In [13]:
# LOGICAL OPERATOR:-
 # and
print(54 != 43 and 34 > 12)
# or
print(23 <= 89 or 60 ==60)
# not
print(not 32 > 65)
print(56 > 86)

True
True
True
False

In [16]:
# IDENTIFY OPERATORS:-
# IS
A = 45
B = 67
print(A is B)
# is not
print(A is not B)

False
True

In [23]:
# IF ELSE
a = 45
b = 65 

# find a is a smallest number

if a < b :
     print("a is smallest number")
else:
    print("a is not smallest number")

a = 456
b = 400
c = 4536

# find greatest number

if a > b and a > c:
    print("a is greatest number")
elif b > c and b > a:
    print("b is greatest number")
else:
    print("c is greatest number")

a is smallest number
c is greatest number